<form name="applicationForm" id="application_form" method="post" ng-submit="checkEligibility()" novalidate>
  <h1>MAGI In A Box</h1>

    <div class="form-fields-area">
      <div class="form-row">
        <label for="state">State</label>
        <select selector ng-model="application.state" name="state" id="state" ng-options="state as state.name for state in appStates" required>
        </select>
        <label for="state" class="error" ng-show="(applicationForm.state.$dirty  || submitted) && applicationForm.state.$invalid">Please enter a State</label>
      </div>
      <div class="form-row">
        <label for="id">Application Name or ID</label>
        <input id="applicationId" ng-model="application.applicationId" type="text" name="id" required>
        <label for="id" class="error" ng-show="(applicationForm.id.$dirty  || submitted) && applicationForm.id.$invalid">This field is required.</label>
      </div>
    </div>
  </div>
  <fieldset ng-form name="applicantForm" ng-repeat="applicant in applicants" ng-controller="ApplicantController">
    <legend>Applicant <span class="applicant-number">{{$index+1}}</span></legend>
    <div class="applicant-relationship-fields" ng-repeat="relationship in applicant.relationships">
      <div class="form-row" >
        <label>Relationship to {{relationship.otherApplicant.id}}</label>
        <select selector ng-model="relationship.code" ng-options="rc.code as rc.label for rc in relationshipCodes" ng-change="updateRelationship(relationship)">
        </select>
      </div>
      </div>
      <div class="form-row">
        <label for="applicant_id">Applicant Name or ID</label>
        <input type="text" ng-model="applicant.id" name="applicant_id"
             class="applicant-id-field" required applicant_id_unique="true">
        <label for="applicant_id" class="error" ng-show="(applicantForm.applicant_id.$dirty || submitted)  && applicantForm.applicant_id.$invalid">This field is required.</label>
      </div>
      <div class="form-row">
        <label for="applicant_{{ $index }}_is_applicant">Is this individual applying for insurance?</label>
        <input type="checkbox" checker ng-model = "applicant.isApplicant" id="applicant_{{ $index }}_is_applicant" name="applicant_is_applicant" >
    </div>
    <div class="form-row-expandable">
      <label for="applicant_{{ $index }}_age">Age</label>
      <input type="number" ng-model = "applicant.age" id="applicant_{{ $index }}_age" name="applicant_age" required>
      <label for="applicant_{{ $index }}_age" class="error" ng-show="(applicantForm.applicant_age.$dirty  || submitted)  && applicantForm.applicant_age.$invalid">This field is required.</label>
      <div class="form-row-expandable-fields2" ng-show="checkResponsibility()">

      <div class="form-row" >
        <label for="applicant_{{ $index }}_nonParentResponsibility" >Someone other than a parent claims primary responsibility for this person</label>
        <input type="checkbox" checker id="applicant_{{ $index }}_nonParentResponsibility" name="applicant_nonParentResponsibility" ng-model="applicant.nonParentResponsibility">
      </div>
          <div class="form-row" ng-show="applicant.nonParentResponsibility">
            <label for="applicant_{{ $index }}_nonParentResponsibilityPerson">Who?</label>
            <select id="applicant_{{ $index }}_nonParentResponsibilityPerson" selector ng-model="applicant.nonParentResponsibilityPerson" ng-options="appl.id for appl in applicants | filter:notMe">
            <option value="">Not on this application</option>
          </select>

          </div>
        </div>
    </div>
    <div class="form-row">
      <label for="applicant_{{ $index }}_hours">Hours worked per week</label>
      <input type="number" ng-model="applicant.hours" id="applicant_{{ $index }}_hours" name="applicant_hours" required>
      <label for="applicant_{{ $index }}_hours" class="error" ng-show="(applicantForm.applicant_hours.$dirty || submitted) && applicantForm.applicant_hours.$invalid">This field is required.</label>
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_disabled" >Disabled</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_disabled" name="applicant_disabled" ng-model="applicant.disabled">
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_student">Student</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_student" name="applicant_student" ng-model="applicant.student">
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_eligible">Eligible for Medicare</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_eligible" name="applicant_eligible" ng-model="applicant.eligible">
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_incarcerated">Incarcerated</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_incarcerated" name="applicant_incarcerated" ng-model="applicant.incarcerated">
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_lives_in_state">Lives in state</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_lives_in_state" name="applicant_lives_in_state" ng-model="applicant.livesInState">
      <div class="form-row-expandable-fields2" ng-show="!applicant.livesInState">
        <div class="form-row">
          <label for="applicant_{{ $index }}_temporarily_out_of_state">Temporarily out of state</label>
          <input type="checkbox" checker id="applicant_{{ $index }}_temporarily_out_of_state" name="applicant_temporarily_out_of_state" ng-model="applicant.temporarilyOutOfState">
        </div>
        <div class="form-row">
          <label for="applicant_{{ $index }}_no_fixed_address">No fixed address</label>
          <input type="checkbox" checker id="applicant_{{ $index }}_no_fixed_address" name="applicant_no_fixed_address" ng-model="applicant.noFixedAddress">
        </div>
      </div>
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_claimed_by_non_applicant">Claimed as a dependent by someone not on this application</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_claimed_by_non_applicant" name="applicant_claimed_by_non_applicant" ng-model="applicant.claimedByNonApplicant">
      <div class="form-row-expandable-fields2" ng-show="applicant.claimedByNonApplicant">
        <div class="form-row">
          <label for="applicant_{{ $index }}_claimer_is_out_of_state">Claimer lives out of state</label>
          <input type="checkbox" checker id="applicant_{{ $index }}_claimer_is_out_of_state" name="applicant_{{ $index }}_claimer_is_out_of_state" ng-model="applicant.claimerIsOutOfState">
        </div>
      </div>
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_long_term_care">In long-term care</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_long_term_care" name="applicant_long_term_care" ng-model="applicant.longTermCare">
    </div>
    <div class="form-half-field clear">
      <label for="applicant_{{ $index }}_has_insurance">Has insurance</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_has_insurance" name="applicant_has_insurance" ng-model="applicant.hasInsurance">
    </div>
    <div class="form-half-field">
      <label for="applicant_{{ $index }}_state_employee_health_benefits">Received state employee health benefits</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_state_employee_health_benefits" name="applicant_state_employee_health_benefits" ng-model="applicant.stateEmployeeHealthBenefits">
    </div>
    <div class="form-row form-row-expandable">
      <label for="applicant_{{ $index }}_prior_insurance">Prior insurance</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_prior_insurance" name="applicant_prior_insurance" ng-model="applicant.priorInsuranceIndicator">
      <div class="form-row-expandable-fields2" ng-show="applicant.priorInsuranceIndicator">
        <div class="form-row">
          <label for="applicant_{{ $index }}_prior_insurance_end_date">Prior insurance end date</label>
          <input type="text" id="applicant_{{ $index }}_prior_insurance_end_date" name="applicant_prior_insurance_end_date" ng-model="applicant.priorInsurance.EndDate" class="date" placeholder="mm / dd / yyyy" ui-mask="99 / 99 / 9999">
        </div>
      </div>
    </div>
    <div class="form-row">
      <label for="applicant_{{ $index }}_pregnant">Pregnant</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_pregnant" name="applicant_pregnant" ng-model="applicant.pregnant" data-exclusive="pregnant">
      <div class="form-row-expandable-fields2" ng-show="applicant.pregnant">
        <div class="form-row">
          <label for="applicant_{{ $index }}_number_of_children_expected">Number of Children Expected</label>
          <input type="number" ng-model = "applicant.numberOfChildrenExpected" id="applicant_{{ $index }}_number_of_children_expected" name="number_of_children_expected">
        </div>
      </div>
    </div>
    <div class="form-row">
      <label for="applicant_{{ $index }}_pregnant_three_months">Pregnant within the last 3 months</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_pregnant_three_months" name="applicant_pregnant_three_months" ng-model="applicant.pregnantThreeMonths" data-exclusive="pregnant">
    </div>
    <div class="form-row form-row-expandable">
      <label for="applicant_{{ $index }}_foster_care">Formerly in foster care</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_foster_care" name="applicant_foster_care" ng-model="applicant.formerlyFosterCare">
      <div class="form-row-expandable-fields2" ng-show="applicant.formerlyFosterCare">
        <div class="form-row">
          <label for="applicant_{{ $index }}_foster_care_had_medicaid">Had Medicaid during foster
            care</label>
          <input type="checkbox" checker id="applicant_{{ $index }}_foster_care_had_medicaid" name="applicant_foster_care_had_medicaid" ng-model="applicant.fosterCare.hadMedicaid">
        </div>
        <div class="form-row">
          <label for="applicant_{{ $index }}_foster_care_age_left">Age left foster care</label>
          <input type="number" id="applicant_{{ $index }}_foster_care_age_left" name="applicant_foster_care_age_left" ng-model="applicant.fosterCare.ageLeftFosterCare">
        </div>
        <div class="form-row">
          <label for="applicant_{{ $index }}_foster_care_state">Foster care state</label>
          <select id="applicant_{{ $index }}_foster_care_state" name="applicant_foster_care_state" selector ng-model="applicant.fosterCare.state" ng-options="state as state.name for state in states">
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <label for="applicant_{{ $index }}_categorically_needy">Categorically Needy</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_categorically_needy" name="applicant_categorically_needy" ng-model="applicant.categoricallyNeedy">
    </div>
    <div class="form-row form-row-expandable">
      <label for="applicant_{{ $index }}_citizen">US citizen</label>
      <input type="checkbox" checker ng-model="applicant.citizen" id="applicant_{{ $index }}_citizen" name="applicant_citizen">
      <div class="form-row-expandable-fields2" ng-show="!applicant.citizen">
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_citizen_legal_permanent_resident">Legal Permanent Resident</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.legalPermanentResident" id="applicant_{{ $index }}_citizen_legal_permanent_resident" name="applicant_citizen_legal_permanent_resident">
        </div>
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_citizen_lawful">Lawfully present in the US</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.lawful" id="applicant_{{ $index }}_citizen_lawful" name="applicant_citizen_lawful">
        </div>
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_citizen_five_year_bar">Subject to a 5 year bar</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.fiveYearBar" id="applicant_{{ $index }}_citizen_five_year_bar" name="applicant_citizen_five_year_bar">
        </div>
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_citizen_forty_quarters">Worked in the US for 40 quarters (120 months)</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.fortyQuarters" id="applicant_{{ $index }}_citizen_forty_quarters" name="applicant_citizen_forty_quarters">
        </div>
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_citizen_five_year_bar_met">5 year bar met</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.fiveYearBarMet" id="applicant_{{ $index }}_citizen_five_year_bar_met" name="applicant_citizen_five_year_bar_met">
        </div>
        <div class="form-row form-row-expandable">
          <label for="applicant_{{ $index }}_citizen_refugee_assistance">Eligible for refugee medical assistance</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.refugeeMedicalAssistanceEligible" id="applicant_{{ $index }}_citizen_refugee_assistance" name="applicant_citizen_refugee_assistance">

          <div class="form-row-expandable-fields2" ng-show="applicant.nonCitizen.refugeeMedicalAssistanceEligible">
            <div class="form-row">
              <label for="applicant_{{ $index }}_citizen_refugee_assistance_start_date">Refugee medical assistance start date</label>
          <input type="text" ng-model="applicant.nonCitizen.refugeeMedicalAssistance.StartDate" id="applicant_{{ $index }}_citizen_refugee_assistance_start_date" name="applicant_citizen_refugee_assistance_start_date" class="date" ui-mask="99 / 99 / 9999" placeholder="mm / dd / yyyy">
            </div>
          </div>
        </div>

        <div class="form-row form-row-expandable">
          <label for="applicant_{{ $index }}_citizen_human_trafficking">Victim of human trafficking</label>
          <input type="checkbox" checker ng-model="applicant.nonCitizen.humanTraffickingVictim" id="applicant_{{ $index }}_citizen_human_trafficking" name="applicant_citizen_human_trafficking">
          <div class="form-row-expandable-fields2" ng-show="applicant.nonCitizen.humanTraffickingVictim">
            <div class="form-row">
              <label for="applicant_{{ $index }}_citizen_human_trafficking_non_citizen">Qualified non-citizen</label>
              <input type="checkbox" checker ng-model="applicant.nonCitizen.humanTrafficking.qualified" id="applicant_{{ $index }}_citizen_human_trafficking_non_citizen" name="applicant_citizen_human_trafficking_non_citizen">
            </div>
            <div class="form-row">
              <label for="applicant_{{ $index }}_citizen_human_trafficking_deport_withheld_date">Non-citizen deport withheld date</label>
              <input type="text" ng-model="applicant.nonCitizen.humanTrafficking.deportWithheldDate" id="applicant_{{ $index }}_citizen_human_trafficking_deport_withheld_date" name="applicant_citizen_human_trafficking_deport_withheld_date" class="date" ui-mask="99 / 99 / 9999" placeholder="mm / dd / yyyy">
            </div>
            <div class="form-row">
              <label for="applicant_{{ $index }}_citizen_human_trafficking_entry_date">Non-citizen entry date</label>
              <input type="text" ng-model="applicant.nonCitizen.humanTrafficking.entryDate" id="applicant_{{ $index }}_citizen_human_trafficking_entry_date" name="applicant_citizen_human_trafficking_entry_date" class="date" ui-mask="99 / 99 / 9999" placeholder="mm / dd / yyyy" >
            </div>
            <div class="form-row">
              <label for="applicant_{{ $index }}_citizen_human_trafficking_status_grant_date">Non-citizen status grant date</label>
              <input type="text" ng-model="applicant.nonCitizen.humanTrafficking.statusGrantDate" id="applicant_{{ $index }}_citizen_human_trafficking_status_grant_date" name="applicant_citizen_human_trafficking_status_grant_date" class="date" ui-mask="99 / 99 / 9999" placeholder="mm / dd / yyyy">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row form-row-expandable">
      <label for="applicant_{{ $index }}_income_taxes_required">Required to file income
        taxes</label>
      <input type="checkbox" checker id="applicant_{{ $index }}_income_taxes_required" name="applicant_income_taxes_required" ng-model="applicant.incomeTaxesRequired">
      <div class="form-row-expandable-fields2 cf" >
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_income_taxes_required_monthly">Monthly wages</label>
          <input type="number" id="applicant_{{ $index }}_income_taxes_required_monthly" name="applicant_income_taxes_required_monthly" class="long-number" ng-model="applicant.incomeTaxes.monthly" ng-change="updateWages(applicant)">
        </div>
        <div class="form-half-field">
          <label for="applicant_{{ $index }}_income_taxes_required_wages">Annual wages</label>
          <input type="number" id="applicant_{{ $index }}_income_taxes_required_wages" name="applicant_income_taxes_required_wages" class="long-number" ng-model="applicant.incomeTaxes.wages" ng-change="updateMonthly(applicant)">
        </div>

        <button ng-click="showOtherIncome = !showOtherIncome" type="button" class="add-applicant">Other income and deductions</button>
        <div class="form-row-expandable-fields2 cf" ng-show="showOtherIncome">
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_capital_gains">Capital gains or loss</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_capital_gains" name="applicant_income_taxes_required_capital_gains" class="long-number" ng-model="applicant.incomeTaxes.capitalGains">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_taxable_interest">Taxable interest</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_taxable_interest" name="applicant_income_taxes_required_taxable_interest" class="long-number" ng-model="applicant.incomeTaxes.taxableInterest">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_pensions">Pensions and annuities taxable amount</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_pensions" name="applicant_income_taxes_required_pensions" class="long-number" ng-model="applicant.incomeTaxes.pensions">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_tax_exempt_interest">Tax-exempt interest</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_tax_exempt_interest" name="applicant_income_taxes_required_tax_exempt_interest" class="long-number" ng-model="applicant.incomeTaxes.taxExemptInterest">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_farm_income">Farm income or loss</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_farm_income" name="applicant_income_taxes_required_farm_income" class="long-number" ng-model="applicant.incomeTaxes.farmIncome">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_taxable_refunds">Taxable refunds, credits, or offsets of state and local income taxes</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_taxable_refunds" name="applicant_income_taxes_required_taxable_refunds" class="long-number" ng-model="applicant.incomeTaxes.taxableRefunds">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_unemployment">Unemployment compensation</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_unemployment" name="applicant_income_taxes_required_unemployment" class="long-number" ng-model="applicant.incomeTaxes.unemployment">
          </div>
          <div class="form-half-field clear">
            <label for="applicant_{{ $index }}_income_taxes_required_alimony">Alimony</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_alimony" name="applicant_income_taxes_required_alimony" class="long-number" ng-model="applicant.incomeTaxes.alimony">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_other">Other income</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_other" name="applicant_income_taxes_required_other" class="long-number" ng-model="applicant.incomeTaxes.other">
          </div>
          <div class="form-half-field">
            <label for="applicant_{{ $index }}_income_taxes_required_deductions">MAGI deductions</label>
            <input type="number" id="applicant_{{ $index }}_income_taxes_required_deductions" name="applicant_income_taxes_required_deductions" class="long-number" ng-model="applicant.incomeTaxes.MAGIDeductions">
          </div>
        </div>

      </div>

    </div>
    
    <button type="button" class="remove-applicant" ng-click="removeApplicant(applicant)" tabindex="-1">Remove This Applicant</button>

  </fieldset>

  <button ng-click="addApplicant()" type="button" class="add-applicant">Add Another Applicant</button>

  <fieldset ng-repeat="taxReturn in taxReturns">
    <legend>Tax Return <span class="applicant-number">{{$index+1}}</span></legend>
    <div ng-show="!showFilers()">
      Please enter some applicants.
    </div>
    <div ng-show="showFilers()">
    <h3>Filers</h3>
    <div class="form-row" ng-repeat="filer in taxReturn.filers track by $index">
      <label for="filer_{$index}">Filer {{$index+1}}</label>
      <select id="filer_{$index}" selector ng-model="taxReturn.filers[$index]" ng-options="applicant.id for applicant in applicants">
        <option value=""></option>
      </select>
    </div>
    </div>
      <div ng-show="showDependents()">
        <h3>Dependents</h3>
        <div class="form-row" ng-repeat="dependent in taxReturn.dependents track by $index">
        <label for="dependent_{$index}">Dependent {{$index+1}}</label>
        <select id="dependent_{$index}" selector ng-model="taxReturn.dependents[$index]" ng-options="applicant.id for  applicant in applicants">
          <option value=""></option>
        </select>
      </div>
    </div>
    <button type="button" class="remove-applicant" ng-click="removeTaxReturn(taxReturn)" tabindex="-1">Remove This Tax Return</button>

    </fieldset>
  </div>
    <button ng-click="addTaxReturn()" type="button" class="add-applicant">Add Another Tax Return</button>
  <fieldset ng-show="showHouseholds()">
    <legend>Physical Households</legend>

    <div class="householdbucket" ng-repeat="household in application.households" btf-dragon="person in household">
      <div class="householdperson">{{person.id}}</div>
    </div>
    <div class="newHouseholdBucketWrapper" ng-show="showNewHousehold()">
      <div class="newHouseholdBucket" btf-dragon="person in newHousehold">
            <div>{{person.id}}</div>
      </div>
      <span class="newHouseholdBucketLabel">Drag a person here to add a new physical household</span>

    </div>
  </fieldset>
  
  <button type="submit" ng-click="checkEligibility()">Check Eligibility</button>
  <button class="submitlike" ng-click="exportApplication()">Export Application</button>

</form>
