<!doctype html>
<html>
  <head>
    <title>MAGI In A Box</title>
    <link href="/assets/normalize.css" rel="stylesheet">
    <link href="/assets/uniform.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
<!-- form goes here -->
<form id="application_form" method="post">
  <h1>MAGI In A Box</h1>
  <div class="form-fields-area">
    <div class="form-row">
      <label for="state">State</label>
      <select id="state" name="state" required>
        <option value=""></option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
    <div class="form-row">
      <label for="id">Application Name or ID</label>
      <input type="text" id="id" name="id" required>
    </div>
  </div>
    <button type="button" class="add-applicant">Add Another Applicant</button>
    <div class="form-fields-area tax-returns-area">
      <h2>Tax Returns</h2>
      <div class="form-row">
        <label for="filer_1">Filer 1</label>
        <select id="filer_1" name="filer_1" class="filer">
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
      <div class="form-row filer-2-row">
        <label for="filer_2">Filer 2</label>
        <select id="filer_2" name="filer_2" class="filer">
          <option value=""></option>
          <option value=""></option>
        </select>
      </div>
      <div class="dependent-fields"></div>
    </div>
    <button type="submit">Check Eligibility</button>
</form>
    <div id="results">
        <div id="sidebar">
    <div class="household">
      <h2>Household MAGI: 50,000</h2>
        <table>
      <tr>
        <th>Father</th>
        <td><div class="eligibility eligible"><i class="icon-ok"></i>Medicaid Eligible</div>
        </td>
        <td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Chip Eligible</div>
        </td>
      </tr>
      <tr>
        <th>Mother</th>
        <td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Medicaid Eligible</div>
        </td><td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Chip Eligible</div>
        </td>
      </tr>
      </table>

    </div>
      <div class="household">
      <h2>Household MAGI: 25,000</h2>
      <table>
      <tr>
        <th>Father</th>
        <td><div class="eligibility eligible"><i class="icon-ok"></i>Medicaid Eligible</div>
        </td>
        <td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Chip Eligible</div>
        </td>
      </tr>
      <tr>
        <th>Mother</th>
        <td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Medicaid Eligible</div>
        </td><td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Chip Eligible</div>
        </td>
      </tr>
      </table>

    </div>
    </div>
    <div id="person">
      <h2>Category</h2>
      <p>Adult Group Category</p>
      <h2>Determinations</h2>
      <div class="determinations">
      <h3>Yes</h3>
      </div>
      <div class="determinations">
        <h3>No</h3>
      </div>
      <div class="determinations">
        <h3>Not Applicable</h3>
      </div>
      
    </div>
    </div>
    
    <script id="form_template" type="text/template">
      <fieldset class="<%= applicant_class %>">
        <legend>Applicant <span class="applicant-number">1</span></legend>
        <div class="applicant-relationship-fields">
        </div>
        <div class="form-row">
          <label for="applicant_<%= num %>_id">Applicant Name or ID</label>
          <input type="text" id="applicant_<%= num %>_id" name="applicant_<%= num %>_id"
                 class="applicant-id-field" applicant_id_unique="true">
        </div>
        <div class="form-row">
            <label for="applicant_<%= num %>_is_applicant">Is this individual applying for insurance?</label>
            <input type="checkbox" id="applicant_<%= num %>_is_applicant" name="applicant_<%= num %>_is_applicant" checked>
        </div>
        <div class="form-row">
          <label for="applicant_<%= num %>_age">Age</label>
          <input type="number" id="applicant_<%= num %>_age" name="applicant_<%= num %>_age" required>
        </div>
        <div class="form-row">
          <label for="applicant_<%= num %>_hours">Hours worked per week</label>
          <input type="number" id="applicant_<%= num %>_hours" name="applicant_<%= num %>_hours" required>
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_disabled">Disabled</label>
          <input type="checkbox" id="applicant_<%= num %>_disabled" name="applicant_<%= num %>_disabled">
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_student">Student</label>
          <input type="checkbox" id="applicant_<%= num %>_student" name="applicant_<%= num %>_student">
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_eligible">Eligible for Medicare</label>
          <input type="checkbox" id="applicant_<%= num %>_eligible" name="applicant_<%= num %>_eligible">
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_incarcerated">Incarcerated</label>
          <input type="checkbox" id="applicant_<%= num %>_incarcerated" name="applicant_<%= num %>_incarcerated">
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_state_residency">Meets state residency status requirements</label>
          <input type="checkbox" id="applicant_<%= num %>_state_residency" name="applicant_<%= num %>_state_residency" checked>
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_long_term_care">In long-term care</label>
          <input type="checkbox" id="applicant_<%= num %>_long_term_care" name="applicant_<%= num %>_long_term_care">
        </div>
        <div class="form-half-field clear">
          <label for="applicant_<%= num %>_has_insurance">Has insurance</label>
          <input type="checkbox" id="applicant_<%= num %>_has_insurance" name="applicant_<%= num %>_has_insurance">
        </div>
        <div class="form-half-field">
          <label for="applicant_<%= num %>_state_employee_health_benefits">Received state employee health benefits</label>
          <input type="checkbox" id="applicant_<%= num %>_state_employee_health_benefits" name="applicant_<%= num %>_state_employee_health_benefits">
        </div>
        <div class="form-row form-row-expandable">
          <label for="applicant_<%= num %>_prior_insurance">Prior insurance</label>
          <input type="checkbox" id="applicant_<%= num %>_prior_insurance" name="applicant_<%= num %>_prior_insurance">
          <div class="form-row-expandable-fields">
            <div class="form-row">
              <label for="applicant_<%= num %>_prior_insurance_end_date">Prior insurance end date</label>
              <input type="text" id="applicant_<%= num %>_prior_insurance_end_date" name="applicant_<%= num %>_prior_insurance_end_date" class="date" placeholder="mm / dd / yyyy">
            </div>
          </div>
        </div>
        <div class="form-row">
          <label for="applicant_<%= num %>_pregnant">Pregnant</label>
          <input type="checkbox" id="applicant_<%= num %>_pregnant" name="applicant_<%= num %>_pregnant" data-exclusive="pregnant">
        </div>
        <div class="form-row">
          <label for="applicant_<%= num %>_pregnant_three_months">Pregnant within the last 3 months</label>
          <input type="checkbox" id="applicant_<%= num %>_pregnant_three_months" name="applicant_<%= num %>_pregnant_three_months" data-exclusive="pregnant">
        </div>
        <div class="form-row form-row-expandable">
          <label for="applicant_<%= num %>_foster_care">Formerly in foster care</label>
          <input type="checkbox" id="applicant_<%= num %>_foster_care" name="applicant_<%= num %>_foster_care">
          <div class="form-row-expandable-fields">
            <div class="form-row">
              <label for="applicant_<%= num %>_foster_care_had_medicaid">Had Medicaid during foster
                care</label>
              <input type="checkbox" id="applicant_<%= num %>_foster_care_had_medicaid" name="applicant_<%= num %>_foster_care_had_medicaid">
            </div>
            <div class="form-row">
              <label for="applicant_<%= num %>_foster_care_age_left">Age left foster care</label>
              <input type="number" id="applicant_<%= num %>_foster_care_age_left" name="applicant_<%= num %>_foster_care_age_left">
            </div>
            <div class="form-row">
              <label for="applicant_<%= num %>_foster_care_state">Foster care state</label>
              <select id="applicant_<%= num %>_foster_care_state" name="applicant_<%= num %>_foster_care_state">
                <option value=""></option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row form-row-expandable">
          <label for="applicant_<%= num %>_income_taxes_required">Required to file income
            taxes</label>
          <input type="checkbox" id="applicant_<%= num %>_income_taxes_required" name="applicant_<%= num %>_income_taxes_required">
          <div class="form-row-expandable-fields cf">
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_wages">Wages, salaries, tips</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_wages" name="applicant_<%= num %>_income_taxes_required_wages" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_capital_gains">Capital gains or loss</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_capital_gains" name="applicant_<%= num %>_income_taxes_required_capital_gains" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_taxable_interest">Taxable interest</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_taxable_interest" name="applicant_<%= num %>_income_taxes_required_taxable_interest" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_pensions">Pensions and annuities taxable amount</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_pensions" name="applicant_<%= num %>_income_taxes_required_pensions" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_tax_exempt_interest">Tax-exempt interest</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_tax_exempt_interest" name="applicant_<%= num %>_income_taxes_required_tax_exempt_interest" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_farm_income">Farm income or loss</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_farm_income" name="applicant_<%= num %>_income_taxes_required_farm_income" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_taxable_refunds">Taxable refunds, credits, or offsets of state and local income taxes</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_taxable_refunds" name="applicant_<%= num %>_income_taxes_required_taxable_refunds" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_unemployment">Unemployment compensation</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_unemployment" name="applicant_<%= num %>_income_taxes_required_unemployment" class="long-number">
            </div>
            <div class="form-half-field clear">
              <label for="applicant_<%= num %>_income_taxes_required_alimony">Alimony</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_alimony" name="applicant_<%= num %>_income_taxes_required_alimony" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_other">Other income</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_other" name="applicant_<%= num %>_income_taxes_required_other" class="long-number">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_income_taxes_required_deductions">MAGI deductions</label>
              <input type="number" id="applicant_<%= num %>_income_taxes_required_deductions" name="applicant_<%= num %>_income_taxes_required_deductions" class="long-number">
            </div>
          </div>
        </div>
        <div class="form-row form-row-expandable">
          <label for="applicant_<%= num %>_citizen">US citizen</label>
          <input type="checkbox" id="applicant_<%= num %>_citizen" name="applicant_<%= num %>_citizen">
          <div class="form-row-expandable-fields expanded">
            <div class="form-half-field">
              <label for="applicant_<%= num %>_citizen_lawful">Lawful resident</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_lawful" name="applicant_<%= num %>_citizen_lawful">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_citizen_five_year_bar">Subject to a 5 year bar</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_five_year_bar" name="applicant_<%= num %>_citizen_five_year_bar">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_citizen_forty_quarters">Worked in the US for 40 quarters (120 months)</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_forty_quarters" name="applicant_<%= num %>_citizen_forty_quarters">
            </div>
            <div class="form-half-field">
              <label for="applicant_<%= num %>_citizen_five_year_bar_met">5 year bar met</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_five_year_bar_met" name="applicant_<%= num %>_citizen_five_year_bar_met">
            </div>
            <div class="form-row">
              <label for="applicant_<%= num %>_citizen_refugee_assistance">Eligible for refugee medical assistance</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_refugee_assistance" name="applicant_<%= num %>_citizen_refugee_assistance">
            </div>
            <div class="form-row">
              <label for="applicant_<%= num %>_citizen_refugee_assistance_start_date">Refugee medical assistance start date</label>
              <input type="text" id="applicant_<%= num %>_citizen_refugee_assistance_start_date" name="applicant_<%= num %>_citizen_refugee_assistance_start_date" class="date" placeholder="mm / dd / yyyy">
            </div>
            <div class="form-row form-row-expandable">
              <label for="applicant_<%= num %>_citizen_human_trafficking">Victim of human trafficking</label>
              <input type="checkbox" id="applicant_<%= num %>_citizen_human_trafficking" name="applicant_<%= num %>_citizen_human_trafficking">
              <div class="form-row-expandable-fields">
                <div class="form-row">
                  <label for="applicant_<%= num %>_citizen_human_trafficking_non_citizen">Qualified non-citizen</label>
                  <input type="checkbox" id="applicant_<%= num %>_citizen_human_trafficking_non_citizen" name="applicant_<%= num %>_citizen_human_trafficking_non_citizen">
                </div>
                <div class="form-row">
                  <label for="applicant_<%= num %>_citizen_human_trafficking_deport_withheld_date">Non-citizen deport withheld date</label>
                  <input type="text" id="applicant_<%= num %>_citizen_human_trafficking_deport_withheld_date" name="applicant_<%= num %>_citizen_human_trafficking_deport_withheld_date" class="date" placeholder="mm / dd / yyyy">
                </div>
                <div class="form-row">
                  <label for="applicant_<%= num %>_citizen_human_trafficking_entry_date">Non-citizen entry date</label>
                  <input type="text" id="applicant_<%= num %>_citizen_human_trafficking_entry_date" name="applicant_<%= num %>_citizen_human_trafficking_entry_date" class="date" placeholder="mm / dd / yyyy">
                </div>
                <div class="form-row">
                  <label for="applicant_<%= num %>_citizen_human_trafficking_status_grant_date">Non-citizen status grant date</label>
                  <input type="text" id="applicant_<%= num %>_citizen_human_trafficking_status_grant_date" name="applicant_<%= num %>_citizen_human_trafficking_status_grant_date" class="date" placeholder="mm / dd / yyyy">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="remove-applicant last-applicant-only">Remove This Applicant</button>
      </fieldset>
    </script>
    
    <script id="relationship_template" type="text/template">
      <div class="form-row">
        <label for="applicant_<%= self %>_relationship_to_<%= relation %>">Relationship to Applicant <%= relation %></label>
        <select id="applicant_<%= self %>_relationship_to_<%= relation %>"
                name="applicant_<%= self %>_relationship_to_<%= relation %>" required>
          <option value=""></option>
          <option value="02">Spouse</option>
          <option value="03">Parent</option>
          <option value="04">Child</option>
          <option value="05">Stepchild</option>
          <option value="06">Grandchild</option>
          <option value="07">Sibling</option>
          <option value="08">Domestic partner</option>
          <option value="12">Stepparent</option>
          <option value="13">Uncle/Aunt</option>
          <option value="14">Nephew/Niece</option>
          <option value="15">Grandparent</option>
          <option value="16">Cousin</option>
          <option value="17">Parent's domestic partner</option>
          <option value="23">Sibling-in-law</option>
          <option value="26">Child-in-law</option>
          <option value="27">Former spouse</option>
          <option value="30">Parent-in-law</option>
        </select>
      </div>
    </script>
    <script id="dependent_template" type="text/template">
      <div class="form-row">
        <label for="dependent_<%= num %>">Dependent <%= num %></label>
        <select id="dependent_<%= num %>" name="dependent_<%= num %>" class="filer">
        </select>
      </div>
    </script>
        <script type="text/html" id="household_template">
      <% _.each(households, function(household, index){ %>
        <div class="household" data-household-index="<%= index %>">
        <h2>Household MAGI:  <%= household["MAGI"] %></h2>
        <table>
        <% _.each(household["Applicants"], function(applicant, index){ %>
        <tr data-applicant-index="<%= index %>" >
          <th><%= applicant["Person ID"] %></th>
          <% if(applicant["Medicaid Eligible"] == "Y"){ %>
          <td><div class="eligibility eligible"><i class="icon-ok"></i>Medicaid Eligible</div>
          </td>
          <% } else { %>
          <td><div class="eligibility ineligible"><i class="icon-remove"></i>Not Medicaid Eligible</div>
          </td>
          <% } %>
        </tr>
        <% }); %>
        </table>
      </div>
    <% }); %>
    </script>
    <script type="text/html" id="person_template">
      <h1><%= person["Person ID"] %>
      <h2>Category</h2>
      <p><%= person["Category"] %></p>
      <h3>Category MAGI Threshold</h3>
      <p><%= person["Category Threshold"] %></p>
      <h2>Determinations</h2>
      <div class="determinations">
      <h3>Yes</h3>
      <ul>
      <%
        _.chain(person["Determinations"])
          .pairs()
          .filter(function(item){
            return item[1]["Indicator"]=="Y";
          })
          .map(function(item){
            return item[0];
          }).each(function(yes){
      %>
      <li><%= yes %></li>
      <% }); %>
      </ul>
      </div>
      <div class="determinations">
        <h3>No</h3>
        <table>
      <%
        _.chain(person["Determinations"])
          .pairs()
          .filter(function(item){
            return item[1]["Indicator"]=="N";
          })
          .map(function(item){
            return {item: item[0], code: item[1]["Ineligibility Code"]};
          }).each(function(no){
      %>
      <tr><td><%= no.item %></td><td><%= no.code %></td>
      </tr>
      <% }); %>
      </table>
      </div>
      <div class="determinations">
        <h3>Not Applicable</h3>
        <ul>
      <%
        _.chain(person["Determinations"])
          .pairs()
          .filter(function(item){
            return item[1]["Indicator"]=="X";
          })
          .map(function(item){
            return item[0];
          }).each(function(na){
      %>
      <li><%= na %></li>
      <% }); %>
      </ul>
      </div>
    </script>

    <script src="/assets/underscore.js"></script>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/jquery.validate.js"></script>
    <script src="/assets/jquery.uniform.js"></script>
    <script src="/assets/jquery.maskedinput.js"></script>
    <script src="/assets/jquery.serializeObject.js"></script>
    <script src="/assets/form.js"></script>
    <script src="/assets/results.js"></script>
    <script src="/assets/magi_application.js"></script>
  </body>
</html>
