{
  "default": {
    "Base FPL": 7470,
    "Child Age Threshold": 19,
    "CHIP Targeted Low Income Child Age High Threshold": 19,
    "CHIP Targeted Low Income Child Age Low Threshold": 0,
    "Foster Care Age Threshold": 18,
    "FPL Per Person": 4020,    
    "Optional Targeted Low Income Child Age High Threshold": 19,
    "Optional Targeted Low Income Child Age Low Threshold": 0
  },
  "minimum": { 
    "Category->Percentage Mapping": {
      "Pregnancy Category": 2,
      "Child Category": 2,
      "Adult Group Category": 2,
      "Adult Group XX Category": 2,
      "Optional Targeted Low Income Child": 2
    },
    "CHIP Targeted Low Income Child Group": "Y",
    "In-state Foster Care Required": "N",
    "Option Adult Group XX": "Y",
    "Option Young Adults": "Y",
    "Optional Targeted Low Income Child Group": "Y",
    "Young Adult Age Threshold": 21
  }
}