body, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body {
  background: #e1e3e4;
  margin: 160px auto;
  width: 740px;
}

h1 {
  background: #414958;
  color: #fff;
  font-weight: 500;
  margin: 0;
  line-height: 80px;
  text-align: center;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  border-bottom: 2px solid #c5c9cb;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

label {
  display: inline-block;
  padding: 0 20px;
  width: 160px;
  text-align: right;
}

.form-fields-area {
  background: white;
  padding: 30px 22px;
}

.form-row {
  margin: 20px 0;
}

.form-half-field {
  float: left;
  margin-bottom: 20px;
}

.add-applicant {
  background: #f0f1f2;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-size: 18px;
  line-height: 80px;
  width: 100%;
}

.add-applicant:before {
  content: '+ ';
}