/*
  Common colors:
    94% gray: #f0f1f2
*/

body, button, input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, button {
  font-weight: 500;
  font-size: 14px;
}

body {
  background: #e1e3e4;
  margin: 160px auto;
  width: 740px;
}

h1 {
  background: #414958;
  color: #fff;
  font-weight: 500;
  margin: 0;
  line-height: 80px;
  text-align: center;
}

fieldset {
  border: none;
  margin-top: 50px;
  padding: 0;
  position: relative;
}

legend {
  border-bottom: 2px solid #c5c9cb;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  width: 100%;
}

label, input {
  vertical-align: middle;
}

label {
  display: inline-block;
  padding: 0 20px;
  width: 160px;
  text-align: right;
}

input {
  background: #f0f1f2;
  border: 2px solid #c5c9cb;
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
}

input[type=number] {
  text-align: right;
  width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
  width: 280px;
}

.form-fields-area {
  background: white;
  padding: 30px 22px;
}

.form-row, .form-half-field {
  padding: 10px 0;
}

.form-row {
  clear: both;
}

.form-half-field {
  float: left;
  margin-right: 50px;
}

.add-applicant {
  background: #f0f1f2;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-size: 18px;
  line-height: 80px;
  width: 100%;
}

.add-applicant:before {
  content: '+ ';
}

.remove-applicant {
  position: absolute;
  right: 0;
  top: 0;
}

.form-row-expandable {
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.form-row-expandable.form-row-expanded {
  background: #f0f1f2;
  padding: 20px 0 10px;
  margin: 10px 0;
}

.form-row-expandable-fields {
  display: none;
}

.last-applicant-only {
  display: none;
}

.last-applicant .last-applicant-only {
  display: block;
}

.first-applicant.last-applicant .last-applicant-only {
  display: none;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}