/*
  Common colors:
    94% gray: #f0f1f2
*/

body, button, input, div.selector span {
  color: #231f20;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, button {
  font-weight: 500;
  font-size: 14px;
}

body {
  background: #e1e3e4;
  margin: 160px auto;
  width: 740px;
}

h1 {
  background: #414958;
  color: #fff;
  font-weight: 500;
  margin: 0;
  line-height: 80px;
  text-align: center;
}

fieldset {
  border: none;
  margin: 2px 0 0;
  position: relative;
}

legend {
  color: #61708c;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  top: 30px;
}

label, input {
  vertical-align: middle;
}

label {
  color: #58585b;
  display: inline-block;
  padding: 0 20px;
  width: 160px;
  text-align: right;
}

input, div.checker span, div.selector span {
  background: #f0f1f2;
  border: 1px solid #c5c9cb;
  font-size: 18px;
  line-height: 20px;
}

input, div.selector span {
  font-weight: 400;
  height: 20px;
  padding: 10px;
}

input[type=number] {
  text-align: right;
  width: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
  width: 280px;
}

fieldset, .form-fields-area {
  background: white;
  padding: 30px 22px;
}

fieldset {
  padding-top: 80px;
}

.form-row, .form-half-field {
  padding: 10px 0;
}

.form-row {
  clear: both;
}

.form-half-field {
  float: left;
  margin-right: 50px;
}

.add-applicant {
  background: #f0f1f2;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  font-size: 18px;
  line-height: 80px;
  width: 100%;
}

.add-applicant:before {
  content: '+ ';
}

.remove-applicant {
  position: absolute;
  right: 22px;
  top: 30px;
}

.form-row-expandable {
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.form-row-expandable.form-row-expanded {
  background: #f0f1f2;
  padding: 20px 0 10px;
  margin: 10px 0;
}

.form-row-expandable-fields {
  display: none;
}

.last-applicant-only {
  display: none;
}

.last-applicant .last-applicant-only {
  display: block;
}

.first-applicant.last-applicant .last-applicant-only {
  display: none;
}

div.selector {
  height: 42px;
  padding: 0;
}

div.selector.fixedWidth {
  width: 302px;
}

div.selector.fixedWidth span {
  width: 280px;
}

div.selector span {
  height: 20px;
  text-shadow: none;
}

div.selector select {
  height: 40px;
}

div.checker span.checked, div.checker span.checked:hover {
  background-image: url('/assets/check.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

div.checker input {
  vertical-align: top;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.household table th {
  text-align: left;
}

.household table td {
  text-align: left;
  padding: 1px 3px 1px 3px;
}


.household {
  background-color: #fff;
  padding: 0px;
  margin: 10px 0;
  border-top: 1px solid #999;
}

.household .people {
  list-style-type: none;
}

.household h2 {
  margin-left: 10px;
}

.household .people>li {
  margin: 15px;
  border-left: 2px solid #999;
}

.household .people {
  padding: 0;
}

.household .name {
  font-weight: bold;
}

.eligibility {
  border-radius: 5px;
  border: 3px solid;
  margin: 2px;
  padding: 2px;
}

.eligibility i {
  margin-right: 3px;
}

.eligibility.eligible {
  background-color: rgb(223, 240, 216);
  border-color: rgb(214, 233, 198);
  color: rgb(70, 136, 71);
}

.eligibility.ineligible {
  background-color: rgb(242, 222, 222);
  border-color: rgb(238, 211, 215);
  color: rgb(185, 74, 72);
}

.eligibility {
  border-radius: 5px;
  border: 1px solid;
}

#sidebar {
  width: 400px;
  float: left;
}

.household table {
  width: 100%;
}

.household th {
  padding-left: 10px;
}


.household tr {
  border-top: 1px solid #999;
  width: 100%;
}

.household tr.selected td, .household tr.selected th{
  background-color: rgb(65, 73, 88);
}

.household tr.selected th {
  color: white;
}

.household tr:hover td, .household tr:hover th{
  background-color: #efefef;
  cursor: pointer; 
}

.household tr:hover th{
  color: black;
}

h3.name {
  font-size: 18px;
  display: inline-block;
}

#person {
  width: 540px;
  background-color: white;
  float: left;
  margin: 10px;
  padding: 10px;
}

#person tr{
  width: 100%;
}

#person td{
  padding: 0 0 6px 0;
  vertical-align:top;
}

.determinations {
  width: 170px;
  float: left;
  margin-right: 10px;
}

.determinations h3{
  margin-top: 0;
}

.determinations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.determinations li {
  margin-bottom: 6px;
}